@mixin siteMain {  
  font-family: $ffamily;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
  color:$black;
}

@mixin borderRadius($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  flex-direction: column;

}

@mixin boxshadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
  -moz-box-shadowbox-shadow: $x-axis $y-axis $blur $color;
  -webkit-box-shadowbox-shadow: $x-axis $y-axis $blur $color;
  -ms-box-shadowbox-shadow: $x-axis $y-axis $blur $color;
  -o-box-shadowbox-shadow: $x-axis $y-axis $blur $color;
}

@mixin transition {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}







//responsive mixins
//mixins for devices responsive
@mixin minMax($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin min($min) {
  @media (min-width: $min) {
    @content;
  }
}

@mixin max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }	
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
