@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    @include siteMain;
}

.sidebar{
    background:$dbgreen;

    .user-info{
        padding-bottom:25px;
        display:none;
    }
}

ol, ul, li{
    list-style: none;
}

.searchBlockheader{
    .icomoon{
        font-size:$fsize + 5;
        color:$red;        
    }
    input{
        border:none;
        padding:0 15px;
    }
}

.redbtn{
    background:$red;

    &:hover{
        background:lighten($red, 10%);
        color:$white;
    }
}

.brdbtn{
    background:$white;
    border:1px solid $red;   
    color:$black;
    
    &:hover{
       background:$red; 
       color:$white;
       border:1px solid $red; 
    }
}

.block-header{
    @include verticalcenter;

    .rightHeaderNav{
        @include min($md){
            text-align:right;
            width:100%;
        }
        a{
            margin:0 10px;                
            text-decoration: none;
            color:$black;
            @include transition;

            .icomoon{
                font-size:$fsize  + 5;
                color:$black;
                position:relative;
                top:3px;
            }

            &:last-child{
                margin-right:0;
            }
        }
        .logoutNav{
            background:lighten($red, 40%);
            padding:8px 12px;
            @include borderRadius(5px,5px,5px,5px);

            .icomoon{
                font-size:$fsize + 1;
                margin-right:5px;
            }

            &:hover{
                background:$red;
                color:$white;

                .icomoon{
                color:$white;
            }
            }
        }
        .countLink{
           .numb{
               width:20px;
               height:20px;
               display:inline-block;
               font-size:10px;
               color:$white;
               padding:5px;
               line-height:10px;
               top:-10px;
               left:10px;
           } 
        }
    }    
}

.breadcrum{
    @include max($sm){
        padding-left:0;
    }
    .breadcrumb-item{
        a{
            color:$black;
            text-decoration: none;
        }
    }
}

//content main 
.contentMain{
    padding:15px 30px;
}

.card{
    background:$white;
   
    @include boxshadow(0, 1px, 1px, lighten($black, 75%));        

    @include max($sm){
        padding:12px;
    }
    .card-title{
        padding:15px;
        border-bottom:1px solid lighten($black, 75%);        

        h3{
            font-size:clamp(1rem, 1.6vw, 1.6rem);
        }
    }

    .card-body{
      padding:25px;

      @include max($md){
          padding:15px;
      }
    }    
}

.kliqtab{
    .nav-link{
        color:#888;
    }
}

.avatarImg{
    
    img{
        width:176px;     
        padding:10px;
        background:lighten($black, 90%);
    }
}

.form-group{
    label{
       font-size:$fsize - 2; 
       margin-bottom:5px;
    }
    .select2-container.select2-container-disabled{       
        .select2-choice{
            background-color:none!important;
            border:none!important;
            background:none;
        }        
    }  
    ::placeholder{
        color:lighten($black, 75%);
    }  
}

.tab-content{
    min-height:200px;

    .tab-pane{
        padding-top:35px;
        border-top:1px dashed lighten($black, 65%);

        @include max($sm){
            padding:5px!important;
        }
    }
}

//custom vertical nav
.mainLeftNav{
   .btnMenu {
	display: none;	
	display: block;
	background:$red ;
	color: #fff;
}

i.icon-caret-down { float: right; }

.contenedor-menu {
	width: 100%;
	line-height: 18px;
    margin:0;
    padding:0;
}

.contenedor-menu .mainrightnav { width: 100%; margin:0; padding:0; }

.contenedor-menu ul { list-style: none; }

.contenedor-menu .mainrightnav li a {
	display: block;
	padding: 15px 20px;	
    color:$black;
}
.contenedor-menu .mainrightnav li a:hover { background: $red; color: #fff; } 
.contenedor-menu .mainrightnav i.icon-caret-down { 
	font-size: 12px; 
	line-height: 18px; 
	float: right; 
	margin-left: 10px; 
}

.contenedor-menu .mainrightnav ul { display: none; padding:0; }
.contenedor-menu .mainrightnav ul li a {
	background: lighten($black, 95%);
	color: $black;
}

.contenedor-menu .mainrightnav .activado > a {
	background: $red;
	color: $white;
}
}

.navcard{
    height:82vh;
    overflow-y: auto;
}
.auth_form{
    .form-group{
        width:100%;
    }
}

.kliqtable{
    thead{
        tr{
            th{
                background:$gray;
                color:$white;
                font-size:$fsize - 1;
            }
        }
    }
}

.redBadge{
    background:$red;    

    .form-group{
        span{
            color:$white;
        }
        input{
            border:none;
            height:47px;
            width:65%;
            margin:0 5px;
        }
        button{
            background:darken($red, 25%);
            height:47px;
            width:67px;
            text-align:center;
            border:none;

            .icomoon{
                color:$white;
                font-size:$fsize * 2;
            }
        }
    }
}

.groupButtons{
    a{
        display:inline-block;
        padding:7px 25px;
        background:lighten($red, 40%);
        color:$black;
        text-transform: uppercase;
        margin:2px;

        border-radius:10px;
        @include transition;

        &:hover{
            background:$red;
            color:$white;
        }
    }
}

.resultSection{
    background:lighten($green, 65%);
    min-height:200px;
    padding:25px;
    margin:15px 0;
}

.postlogo{    
    img{
        width:150px;
    }
}

.dressItems{
    a{
        margin-bottom:10px;
        display:block;
        
        img{
            width:100px;
            border-radius:50%;
            margin-bottom:10px;
            padding:3px;
            border:1px solid $white;
            @include boxshadow(0, 3px, 5px, lighten($black, 50%)); 
            
        }
        span{
            color:$black;
            display:block;
            margin-bottom:10px;
        }

        &:hover{
            span{
                color:$red;
            }
        }
    }
}
.closeicon{   
    padding:10px;
    display:inline-block;
    color:$white;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    border-radius:50%;
    box-sizing: border-box;
    cursor: pointer;
    line-height:2px;
}

//new css on 30-12-2021
.formAddicon{
    display:block;
    margin-top:32px;
    border:1px solid $red;
    padding:6px 10px;
    text-align:center;

    .icomoon{
        color:$red;
    }
}

